## Test 3 different functions from 'python_import' file

In [ ]:
from python_intro import calc_tip as tip

In [ ]:
tip(300,0.19)

## How many different combinations exist when taking one item from Set 'letters' and one item from Set 'numbers'? 3 * 3

In [ ]:
import itertools as it

In [ ]:
letters = ['a','b','c']
numbers = [1,2,3]

In [ ]:
it.combinations_with_replacement([letters,numbers],2)

In [ ]:
list(it.combinations([letters,numbers],2))

In [ ]:
list(it.product(letters,numbers))

In [ ]:
len(list(it.product(letters,numbers)))

## How many different combinations exist when taking two items from [a,b,c,d] (w/o replacement)?

In [ ]:
letters = ['a','b','c','d']
numbers = [1,2,3]

In [ ]:
list(it.combinations(letters,2))

In [ ]:
len(list(it.combinations(letters,2)))

## How many different permutations exist when taking two items from [a,b,c,d] (w/o replacement)?

In [ ]:
list(it.permutations(letters,2))

In [ ]:
len(list(it.permutations(letters,2)))

In [ ]:
len(list(it.permutations(letters,3)))

In [ ]:
len(list(it.permutations(letters,4)))

## Load a JSON file and output the following information:

In [1]:
import json

In [2]:
json.load(open('file_a.json'))

[{'_id': '54e23c3e46ab53a440b580e8',
  'index': 0,
  'guid': '9962b468-ef3e-4993-b677-617469bc3008',
  'isActive': False,
  'balance': '$2,097.02',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'blue',
  'name': 'Hebert Estes',
  'gender': 'male',
  'company': 'ANDRYX',
  'email': 'hebertestes@andryx.com',
  'phone': '+1 (866) 456-2268',
  'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
  'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
  'registered': '2014-11-10T01:44:03 +06:00',
  'latitude': -80.157843,
  'longitude': 161.93016,
  'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
  'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
   {'id': 1, 'name': 'Dennis Wilson'},
   {'id': 2, 'name': 'Lupe Howe'}],
  'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef5cc0d250968c212',
  'index': 1,
  'guid': '905f849d-49bf-4a57-b4f3-5d6e4bf1b04c',
  'isActive': False,
  'balance': '$3,654.02',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'green',
  'name': 'Allison Wynn',
  'gender': 'male',
  'company': 'PHARMACON',
  'email': 'allisonwynn@pharmacon.com',
  'phone': '+1 (926) 525-3131',
  'address': '724 Brevoort Place, Lodoga, Indiana, 3880',
  'about': 'Esse quis cillum sunt occaecat ad et eu incididunt aliquip dolor. Adipisicing labore magna anim cillum nisi. Elit mollit consequat velit nulla cillum excepteur elit ullamco deserunt. Anim aliquip Lorem excepteur ad veniam et labore in qui ullamco. Occaecat sit do incididunt voluptate id magna ea amet.\r\n',
  'registered': '2014-06-10T13:41:26 +05:00',
  'latitude': 55.737207,
  'longitude': -167.177561,
  'tags': ['enim',
   'officia',
   'laboris',
   'irure',
   'veniam',
   'occaecat',
   'pariatur'],
  'friends': [{'id': 0, 'name': 'Curry Cox'},
   {'id': 1, 'name': 'Alma Dale'},
   {'id': 2, 'name': 'Barbara Mayo'}],
  'greeting': 'Hello, Allison Wynn! You have 19 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e09cc6875638cd36b',
  'index': 2,
  'guid': '1b042d48-9cfa-4db5-8b60-4104165591c3',
  'isActive': True,
  'balance': '$1,536.02',
  'picture': 'http://placehold.it/32x32',
  'age': 31,
  'eyeColor': 'brown',
  'name': 'Jacobs Floyd',
  'gender': 'male',
  'company': 'QUONK',
  'email': 'jacobsfloyd@quonk.com',
  'phone': '+1 (853) 537-3315',
  'address': '941 Cox Place, Bluffview, Georgia, 5882',
  'about': 'Deserunt adipisicing proident exercitation cillum anim consectetur labore exercitation. Commodo reprehenderit laborum enim exercitation. Ullamco nulla culpa aliqua nisi fugiat consectetur deserunt nostrud in eu.\r\n',
  'registered': '2014-07-30T03:17:32 +05:00',
  'latitude': 30.215667,
  'longitude': 68.831905,
  'tags': ['est', 'aute', 'laborum', 'sint', 'anim', 'sit', 'consectetur'],
  'friends': [{'id': 0, 'name': 'Robles Chan'},
   {'id': 1, 'name': 'Whitfield Strickland'},
   {'id': 2, 'name': 'Lina Melton'}],
  'greeting': 'Hello, Jacobs Floyd! You have 5 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e54e4094147a3b1da',
  'index': 3,
  'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
  'isActive': False,
  'balance': '$3,919.64',
  'picture': 'http://placehold.it/32x32',
  'age': 20,
  'eyeColor': 'green',
  'name': 'Fay Hammond',
  'gender': 'female',
  'company': 'INRT',
  'email': 'fayhammond@inrt.com',
  'phone': '+1 (922) 429-2592',
  'address': '518 Randolph Street, Whitestone, Arizona, 8189',
  'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
  'registered': '2015-01-30T08:05:38 +06:00',
  'latitude': 33.825844,
  'longitude': -65.969538,
  'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
  'friends': [{'id': 0, 'name': 'Dudley Booker'},
   {'id': 1, 'name': 'Esmeralda Tyler'},
   {'id': 2, 'name': 'Rosa Hampton'}],
  'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e177caf5567ba87ac',
  'index': 4,
  'guid': '97962c85-7700-4ffa-a01e-2fcbc147fd81',
  'isActive': False,
  'balance': '$3,681.39',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'green',
  'name': 'Chasity Marsh',
  'gender': 'female',
  'company': 'WAZZU',
  'email': 'chasitymarsh@wazzu.com',
  'phone': '+1 (976) 425-2362',
  'address': '604 Just Court, Eastvale, Federated States Of Micronesia, 8644',
  'about': 'Irure excepteur consequat esse qui tempor deserunt nulla fugiat. Ut excepteur do veniam dolore dolor proident sunt voluptate ad ipsum nisi. Lorem proident deserunt Lorem cupidatat dolor nulla qui id aliqua. Et nulla laborum deserunt tempor ad culpa. Ullamco occaecat adipisicing dolore laborum laborum duis aliqua nisi irure ex. Incididunt tempor Lorem quis dolore.\r\n',
  'registered': '2014-07-31T06:03:19 +05:00',
  'latitude': -31.660978,
  'longitude': 37.559095,
  'tags': ['aliquip', 'duis', 'irure', 'amet', 'aliquip', 'dolore', 'esse'],
  'friends': [{'id': 0, 'name': 'Kristina Glover'},
   {'id': 1, 'name': 'Ora Christian'},
   {'id': 2, 'name': 'Jacklyn Joseph'}],
  'greeting': 'Hello, Chasity Marsh! You have 9 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3eaffbb506aa15ec1c',
  'index': 5,
  'guid': 'fc3e04d1-44c2-449e-891a-d4f8053d14a4',
  'isActive': True,
  'balance': '$1,694.42',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'brown',
  'name': 'Camacho Cortez',
  'gender': 'male',
  'company': 'EARTHWAX',
  'email': 'camachocortez@earthwax.com',
  'phone': '+1 (869) 528-2019',
  'address': '101 Haring Street, Nicut, Louisiana, 1473',
  'about': 'Qui ad commodo elit voluptate cupidatat exercitation amet ea laborum sunt aliquip nisi irure. Veniam voluptate eiusmod sint aliquip ea. Voluptate voluptate Lorem nulla laborum eiusmod occaecat et nostrud sint in cillum reprehenderit magna nulla. Lorem id fugiat laborum qui mollit amet. Culpa officia ipsum nisi culpa in. Fugiat quis eu cupidatat non culpa in ea velit pariatur non in excepteur.\r\n',
  'registered': '2014-03-17T12:04:00 +05:00',
  'latitude': 74.434627,
  'longitude': 69.527088,
  'tags': ['et', 'sit', 'in', 'id', 'ullamco', 'elit', 'laborum'],
  'friends': [{'id': 0, 'name': 'Sexton Tillman'},
   {'id': 1, 'name': 'Boone Steele'},
   {'id': 2, 'name': 'Elvia Ward'}],
  'greeting': 'Hello, Camacho Cortez! You have 19 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e0fd8074c2ca52667',
  'index': 6,
  'guid': 'af8d9a03-fde9-4039-b20c-c4708d4cfc3c',
  'isActive': False,
  'balance': '$1,214.10',
  'picture': 'http://placehold.it/32x32',
  'age': 35,
  'eyeColor': 'green',
  'name': 'Avery Flynn',
  'gender': 'male',
  'company': 'TERSANKI',
  'email': 'averyflynn@tersanki.com',
  'phone': '+1 (966) 404-2471',
  'address': '569 Oakland Place, Beyerville, Puerto Rico, 2395',
  'about': 'Minim consequat anim ad et tempor et pariatur cillum ut. Ea Lorem consectetur sunt aliquip ea minim minim id dolore incididunt qui magna. Magna velit labore dolore voluptate ut aliquip esse qui est ipsum cupidatat duis enim. Sunt esse eiusmod cupidatat duis quis sunt anim dolore adipisicing enim dolore aliqua mollit. Commodo sit ad eiusmod reprehenderit.\r\n',
  'registered': '2014-04-13T10:25:03 +05:00',
  'latitude': -89.879409,
  'longitude': 143.441709,
  'tags': ['quis',
   'esse',
   'Lorem',
   'minim',
   'nostrud',
   'voluptate',
   'laborum'],
  'friends': [{'id': 0, 'name': 'Ball Henson'},
   {'id': 1, 'name': 'Dalton Mccoy'},
   {'id': 2, 'name': 'Carolina Sharp'}],
  'greeting': 'Hello, Avery Flynn! You have 13 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3eb112d96e4204914d',
  'index': 7,
  'guid': '95f1c020-f9eb-4a29-b236-e766759d89d0',
  'isActive': False,
  'balance': '$2,930.31',
  'picture': 'http://placehold.it/32x32',
  'age': 23,
  'eyeColor': 'blue',
  'name': 'Michael Cash',
  'gender': 'male',
  'company': 'ORBIXTAR',
  'email': 'michaelcash@orbixtar.com',
  'phone': '+1 (996) 439-3660',
  'address': '808 Duryea Court, Downsville, Northern Mariana Islands, 2154',
  'about': 'Minim proident minim consectetur nostrud dolor reprehenderit. Ea est proident non do cillum eu est dolor Lorem id. Tempor enim incididunt consequat voluptate nulla ipsum voluptate id. Incididunt enim laboris nostrud in exercitation est culpa nulla velit.\r\n',
  'registered': '2014-05-24T17:56:54 +05:00',
  'latitude': -86.621367,
  'longitude': -4.06197,
  'tags': ['eu', 'sit', 'dolore', 'culpa', 'Lorem', 'in', 'esse'],
  'friends': [{'id': 0, 'name': 'Rodgers Nolan'},
   {'id': 1, 'name': 'Jewel Marks'},
   {'id': 2, 'name': 'Sue Mejia'}],
  'greeting': 'Hello, Michael Cash! You have 17 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef30f14d0e5afddf3',
  'index': 8,
  'guid': 'bde2d56f-2488-40d0-a7d2-21019ee8a18b',
  'isActive': False,
  'balance': '$1,944.15',
  'picture': 'http://placehold.it/32x32',
  'age': 25,
  'eyeColor': 'green',
  'name': 'Madeleine Bray',
  'gender': 'female',
  'company': 'KIDSTOCK',
  'email': 'madeleinebray@kidstock.com',
  'phone': '+1 (820) 541-2969',
  'address': '684 Stratford Road, Rosine, District Of Columbia, 7177',
  'about': 'Ullamco ea esse ullamco commodo quis amet ut ad. Sint eiusmod ullamco minim nostrud amet in ex adipisicing velit cillum Lorem enim nostrud. Deserunt esse incididunt eiusmod commodo ullamco id pariatur tempor duis laboris Lorem. Laboris magna Lorem quis laborum ullamco. Dolor minim magna ut occaecat in consequat consequat in commodo pariatur voluptate pariatur dolore. Quis exercitation cillum labore cillum laborum. Dolore est reprehenderit anim reprehenderit consectetur sit quis ea ut veniam.\r\n',
  'registered': '2014-08-11T08:54:06 +05:00',
  'latitude': 45.118798,
  'longitude': -7.698707,
  'tags': ['id',
   'magna',
   'excepteur',
   'excepteur',
   'excepteur',
   'duis',
   'excepteur'],
  'friends': [{'id': 0, 'name': 'Herrera Doyle'},
   {'id': 1, 'name': 'Berger Fisher'},
   {'id': 2, 'name': 'Chang Coffey'}],
  'greeting': 'Hello, Madeleine Bray! You have 2 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ebd80e9c26b057fa3',
  'index': 9,
  'guid': '75991ca5-05ed-499e-bbb5-f057f86d05d7',
  'isActive': True,
  'balance': '$2,839.22',
  'picture': 'http://placehold.it/32x32',
  'age': 37,
  'eyeColor': 'blue',
  'name': 'Corine French',
  'gender': 'female',
  'company': 'INTRAWEAR',
  'email': 'corinefrench@intrawear.com',
  'phone': '+1 (987) 573-3164',
  'address': '964 Clara Street, Snyderville, Oklahoma, 3627',
  'about': 'Sint cillum laborum labore duis fugiat voluptate adipisicing. Ad culpa et et ea incididunt nulla excepteur officia. Cillum veniam amet ipsum reprehenderit do eiusmod aliqua aute nisi Lorem consectetur esse in incididunt.\r\n',
  'registered': '2014-06-25T20:17:13 +05:00',
  'latitude': -37.637422,
  'longitude': 154.195523,
  'tags': ['laboris',
   'in',
   'dolore',
   'mollit',
   'velit',
   'laboris',
   'excepteur'],
  'friends': [{'id': 0, 'name': 'Greta Hill'},
   {'id': 1, 'name': 'Cline Curry'},
   {'id': 2, 'name': 'Branch Sawyer'}],
  'greeting': 'Hello, Corine French! You have 18 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e6d89c09f5507e7dd',
  'index': 10,
  'guid': '87cffc18-3acf-40c5-8708-1bb93f1b68de',
  'isActive': True,
  'balance': '$2,467.31',
  'picture': 'http://placehold.it/32x32',
  'age': 29,
  'eyeColor': 'blue',
  'name': 'Trudy Cummings',
  'gender': 'female',
  'company': 'SPLINX',
  'email': 'trudycummings@splinx.com',
  'phone': '+1 (925) 403-2797',
  'address': '558 Charles Place, Tedrow, California, 9832',
  'about': 'Non id adipisicing deserunt non magna ex adipisicing sint esse sint. Laborum ea nostrud Lorem voluptate quis proident eu nisi exercitation in. Consequat occaecat proident officia anim.\r\n',
  'registered': '2014-03-13T17:54:31 +05:00',
  'latitude': -36.185131,
  'longitude': -37.774906,
  'tags': ['aute', 'occaecat', 'ea', 'pariatur', 'consectetur', 'magna', 'ea'],
  'friends': [{'id': 0, 'name': 'Amber Gates'},
   {'id': 1, 'name': 'Barron Walsh'},
   {'id': 2, 'name': 'Nell Bolton'}],
  'greeting': 'Hello, Trudy Cummings! You have 2 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e4192cf53edd67c99',
  'index': 11,
  'guid': '5a5496f1-a027-4c21-85da-c399234cd9a5',
  'isActive': True,
  'balance': '$3,304.99',
  'picture': 'http://placehold.it/32x32',
  'age': 21,
  'eyeColor': 'brown',
  'name': 'Peggy Mayer',
  'gender': 'female',
  'company': 'ACCUPRINT',
  'email': 'peggymayer@accuprint.com',
  'phone': '+1 (854) 428-2585',
  'address': '830 Willmohr Street, Crenshaw, Missouri, 6032',
  'about': 'Aliqua sit enim cillum aliquip ad proident excepteur in consectetur eiusmod. Ipsum sint cillum veniam eiusmod aute sunt et do est tempor. Lorem elit dolor dolore incididunt cillum. Enim occaecat minim sunt cillum est velit cillum deserunt tempor eu.\r\n',
  'registered': '2014-09-14T07:06:49 +05:00',
  'latitude': 48.323912,
  'longitude': 22.184821,
  'tags': ['commodo', 'esse', 'ad', 'ullamco', 'ea', 'sint', 'ipsum'],
  'friends': [{'id': 0, 'name': 'Hopkins Mccall'},
   {'id': 1, 'name': 'Nielsen Weeks'},
   {'id': 2, 'name': 'Dale Knowles'}],
  'greeting': 'Hello, Peggy Mayer! You have 13 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3eedcc65f0ec3a5496',
  'index': 12,
  'guid': '759a21c4-5f9c-4189-9c50-c9d8a9f31037',
  'isActive': False,
  'balance': '$3,844.42',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'brown',
  'name': 'Chan Hurley',
  'gender': 'male',
  'company': 'ZEAM',
  'email': 'chanhurley@zeam.com',
  'phone': '+1 (917) 475-3705',
  'address': '915 Channel Avenue, Clinton, North Dakota, 6244',
  'about': 'Voluptate exercitation ut anim ex adipisicing ut do officia incididunt fugiat cupidatat aliqua. Cillum ullamco irure dolore est consectetur non consequat. Nulla ullamco eu irure qui dolor magna ipsum id in enim voluptate aute. Officia aliqua dolore ut reprehenderit Lorem cillum. Cillum reprehenderit eu cillum aliqua sint eiusmod cupidatat culpa elit in. Fugiat voluptate reprehenderit amet anim qui nisi velit aliqua proident anim.\r\n',
  'registered': '2014-03-01T14:51:23 +06:00',
  'latitude': 85.901051,
  'longitude': -74.986179,
  'tags': ['minim', 'veniam', 'sit', 'aute', 'irure', 'non', 'eiusmod'],
  'friends': [{'id': 0, 'name': 'Reese Grant'},
   {'id': 1, 'name': 'Jenna Kinney'},
   {'id': 2, 'name': 'Rhea May'}],
  'greeting': 'Hello, Chan Hurley! You have 7 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3eb813e66c6d33aa82',
  'index': 13,
  'guid': '6fd14a8e-3158-48eb-a7e1-93fe57b74746',
  'isActive': True,
  'balance': '$3,594.99',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'blue',
  'name': 'Diaz Pena',
  'gender': 'male',
  'company': 'SUREPLEX',
  'email': 'diazpena@sureplex.com',
  'phone': '+1 (986) 511-3050',
  'address': '184 Kingsway Place, Grantville, Michigan, 2421',
  'about': 'Enim elit amet officia consectetur do Lorem reprehenderit cupidatat exercitation velit. Ex tempor esse consectetur dolore aute et. Cupidatat duis nulla in incididunt nulla ullamco non magna officia commodo anim. Labore quis ullamco est deserunt excepteur duis nostrud deserunt cillum proident. Non eiusmod consectetur pariatur deserunt irure quis exercitation ex incididunt quis dolore pariatur sunt irure. Eu do fugiat laboris tempor culpa.\r\n',
  'registered': '2014-04-19T20:43:12 +05:00',
  'latitude': 6.606991,
  'longitude': 81.593748,
  'tags': ['excepteur',
   'elit',
   'ullamco',
   'excepteur',
   'ad',
   'quis',
   'dolore'],
  'friends': [{'id': 0, 'name': 'Mcmillan Knox'},
   {'id': 1, 'name': 'Flossie Dixon'},
   {'id': 2, 'name': 'Sears Carson'}],
  'greeting': 'Hello, Diaz Pena! You have 13 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e502a2f526b689c3e',
  'index': 14,
  'guid': '459cc82d-7878-42cb-b9c6-073506380036',
  'isActive': True,
  'balance': '$2,940.24',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'brown',
  'name': 'Heath Castaneda',
  'gender': 'male',
  'company': 'NETPLODE',
  'email': 'heathcastaneda@netplode.com',
  'phone': '+1 (944) 478-3741',
  'address': '278 Village Road, Sunnyside, Massachusetts, 7496',
  'about': 'Consectetur mollit cupidatat ex consectetur eiusmod ut. Cupidatat anim cupidatat cupidatat minim ipsum et quis amet proident pariatur. Do consectetur fugiat quis nisi non. Ut eu consequat consequat in ullamco eiusmod quis cillum sunt dolore anim. Non irure aliqua aliqua enim elit labore consequat.\r\n',
  'registered': '2014-07-30T21:38:43 +05:00',
  'latitude': 69.928876,
  'longitude': 33.649878,
  'tags': ['elit', 'commodo', 'ut', 'ullamco', 'ullamco', 'velit', 'ullamco'],
  'friends': [{'id': 0, 'name': 'Dora Mack'},
   {'id': 1, 'name': 'Christensen Camacho'},
   {'id': 2, 'name': 'Castro Kelly'}],
  'greeting': 'Hello, Heath Castaneda! You have 12 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e69d22e49c7fe62de',
  'index': 15,
  'guid': '33d2bbe5-d6f7-4844-88fc-b9f6af63b373',
  'isActive': False,
  'balance': '$3,062.41',
  'picture': 'http://placehold.it/32x32',
  'age': 38,
  'eyeColor': 'brown',
  'name': 'Greer Blankenship',
  'gender': 'male',
  'company': 'QUALITERN',
  'email': 'greerblankenship@qualitern.com',
  'phone': '+1 (957) 482-3874',
  'address': '557 Ingraham Street, Brambleton, South Dakota, 8482',
  'about': 'Non in excepteur nostrud consectetur. Qui non consectetur officia incididunt elit laboris exercitation exercitation est minim veniam ullamco dolore. Eu sit aute culpa ex sunt amet. Ut et amet Lorem sunt anim pariatur.\r\n',
  'registered': '2014-03-30T21:39:41 +05:00',
  'latitude': -71.093388,
  'longitude': 65.740255,
  'tags': ['enim',
   'eiusmod',
   'Lorem',
   'reprehenderit',
   'nisi',
   'anim',
   'sunt'],
  'friends': [{'id': 0, 'name': 'Woods Norman'},
   {'id': 1, 'name': 'Marilyn Haney'},
   {'id': 2, 'name': 'Webster Nielsen'}],
  'greeting': 'Hello, Greer Blankenship! You have 7 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e42676228c442a669',
  'index': 16,
  'guid': 'e44604f0-c7a8-4b89-bda3-0f4710ebe28a',
  'isActive': False,
  'balance': '$3,067.82',
  'picture': 'http://placehold.it/32x32',
  'age': 32,
  'eyeColor': 'green',
  'name': 'Coffey Hayes',
  'gender': 'male',
  'company': 'INQUALA',
  'email': 'coffeyhayes@inquala.com',
  'phone': '+1 (880) 451-3490',
  'address': '490 Durland Place, Craig, Tennessee, 5034',
  'about': 'Est esse irure Lorem ullamco veniam fugiat laborum veniam excepteur. Ad enim pariatur nostrud excepteur et nostrud velit dolore ex enim cillum in aliquip fugiat. Nulla laborum exercitation irure magna elit laborum magna ad excepteur. Cillum pariatur Lorem eiusmod ad dolore eiusmod veniam do minim laborum in dolor. Reprehenderit elit ad id voluptate Lorem Lorem dolor cupidatat excepteur. Proident minim ea aute nulla.\r\n',
  'registered': '2014-04-01T23:04:39 +05:00',
  'latitude': -30.662644,
  'longitude': 59.806684,
  'tags': ['duis', 'est', 'in', 'officia', 'nostrud', 'occaecat', 'mollit'],
  'friends': [{'id': 0, 'name': 'Suarez Perry'},
   {'id': 1, 'name': 'Marlene Sheppard'},
   {'id': 2, 'name': 'Cohen Yates'}],

In [3]:
yes = json.load(open('file_a.json'))

In [ ]:
len(yes)

### Total number of Users?

In [ ]:
len(yes)

### Total number of ACTIVE Users?

In [4]:
import numpy as np
import pandas as pd

In [ ]:
yes[1]['isActive']

In [ ]:
active = []
for i in range(0,len(yes)):
    result = yes[i]['isActive']
    active.append(result)

In [ ]:
active = pd.DataFrame(active)

In [ ]:
active.info()

In [ ]:
active[0].mean()

In [ ]:
active[0].value_counts() #True == ACTIVE

### Total number INACTIVE Users?

In [ ]:
active[0].value_counts() #False == INACTIVE

### Grand total BALANCE for ALL USERS?

In [9]:
import re

In [5]:
bal = []
for i in range(0,len(yes)):
    result = yes[i]['balance']
    bal.append(result)

In [6]:
bal

['$2,097.02',
 '$3,654.02',
 '$1,536.02',
 '$3,919.64',
 '$3,681.39',
 '$1,694.42',
 '$1,214.10',
 '$2,930.31',
 '$1,944.15',
 '$2,839.22',
 '$2,467.31',
 '$3,304.99',
 '$3,844.42',
 '$3,594.99',
 '$2,940.24',
 '$3,062.41',
 '$3,067.82',
 '$2,646.76',
 '$2,227.79']

In [7]:
bal[2]

'$1,536.02'

In [12]:
re.sub(r"[^0-9.]", "",bal[2])

'1536.02'

In [13]:
float(re.sub(r"[^0-9.]", "",bal[2]))

1536.02

In [15]:
col2 = []
for i in range(0,len(bal)):
    new = float(re.sub(r"[^0-9.]", "",bal[i]))
    col2.append(new)

In [16]:
col2

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [17]:
df = pd.DataFrame(col2)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       19 non-null     float64
dtypes: float64(1)
memory usage: 284.0 bytes

In [19]:
df

          0
0   2097.02
1   3654.02
2   1536.02
3   3919.64
4   3681.39
5   1694.42
6   1214.10
7   2930.31
8   1944.15
9   2839.22
10  2467.31
11  3304.99
12  3844.42
13  3594.99
14  2940.24
15  3062.41
16  3067.82
17  2646.76
18  2227.79

In [21]:
df[0].sum()

52667.02

### AVG BALANCE for ALL USERS?

In [23]:
round(df[0].mean(),2)

2771.95

### USER with Lowest Balance?

In [24]:
name_col = []
for i in range(0,len(yes)):
    result = yes[i]['name']
    name_col.append(result)

In [25]:
df['name'] = name_col

In [26]:
df

          0               name
0   2097.02       Hebert Estes
1   3654.02       Allison Wynn
2   1536.02       Jacobs Floyd
3   3919.64        Fay Hammond
4   3681.39      Chasity Marsh
5   1694.42     Camacho Cortez
6   1214.10        Avery Flynn
7   2930.31       Michael Cash
8   1944.15     Madeleine Bray
9   2839.22      Corine French
10  2467.31     Trudy Cummings
11  3304.99        Peggy Mayer
12  3844.42        Chan Hurley
13  3594.99          Diaz Pena
14  2940.24    Heath Castaneda
15  3062.41  Greer Blankenship
16  3067.82       Coffey Hayes
17  2646.76       Leanne Hurst
18  2227.79       Ewing Larson

In [30]:
df[df[0] == df[0].min()]

        0         name
6  1214.1  Avery Flynn

### USER with Highest Balance?

In [31]:
df[df[0] == df[0].max()]

         0         name
3  3919.64  Fay Hammond

### Most Common FAV FRUIT?

In [32]:
fruit_col = []
for i in range(0,len(yes)):
    result = yes[i]['favoriteFruit']
    fruit_col.append(result)

In [33]:
df['fav_fruit'] = fruit_col

In [34]:
df

          0               name   fav_fruit
0   2097.02       Hebert Estes  strawberry
1   3654.02       Allison Wynn       apple
2   1536.02       Jacobs Floyd       apple
3   3919.64        Fay Hammond      banana
4   3681.39      Chasity Marsh       apple
5   1694.42     Camacho Cortez       apple
6   1214.10        Avery Flynn      banana
7   2930.31       Michael Cash  strawberry
8   1944.15     Madeleine Bray  strawberry
9   2839.22      Corine French      banana
10  2467.31     Trudy Cummings  strawberry
11  3304.99        Peggy Mayer  strawberry
12  3844.42        Chan Hurley       apple
13  3594.99          Diaz Pena  strawberry
14  2940.24    Heath Castaneda  strawberry
15  3062.41  Greer Blankenship      banana
16  3067.82       Coffey Hayes  strawberry
17  2646.76       Leanne Hurst       apple
18  2227.79       Ewing Larson  strawberry

In [47]:
df['fav_fruit'].value_counts()

strawberry    9
apple         6
banana        4
Name: fav_fruit, dtype: int64

### Least Common FAV FRUIT?

In [50]:
df['fav_fruit'].value_counts().sort_values()

banana        4
apple         6
strawberry    9
Name: fav_fruit, dtype: int64

### Total number of UNREAD messages for all users?

In [51]:
unread = []
for i in range(0,len(yes)):
    result = yes[i]['greeting']
    unread.append(result)

In [52]:
unread

['Hello, Hebert Estes! You have 4 unread messages.',
 'Hello, Allison Wynn! You have 19 unread messages.',
 'Hello, Jacobs Floyd! You have 5 unread messages.',
 'Hello, Fay Hammond! You have 10 unread messages.',
 'Hello, Chasity Marsh! You have 9 unread messages.',
 'Hello, Camacho Cortez! You have 19 unread messages.',
 'Hello, Avery Flynn! You have 13 unread messages.',
 'Hello, Michael Cash! You have 17 unread messages.',
 'Hello, Madeleine Bray! You have 2 unread messages.',
 'Hello, Corine French! You have 18 unread messages.',
 'Hello, Trudy Cummings! You have 2 unread messages.',
 'Hello, Peggy Mayer! You have 13 unread messages.',
 'Hello, Chan Hurley! You have 7 unread messages.',
 'Hello, Diaz Pena! You have 13 unread messages.',
 'Hello, Heath Castaneda! You have 12 unread messages.',
 'Hello, Greer Blankenship! You have 7 unread messages.',
 'Hello, Coffey Hayes! You have 19 unread messages.',
 'Hello, Leanne Hurst! You have 5 unread messages.',
 'Hello, Ewing Larson! You have 16 unread messages.']

In [54]:
int(re.sub(r"[^0-9]", "",unread[1]))

19

In [56]:
unread_col = []
for i in range(0,len(unread)):
    new = int(re.sub(r"[^0-9]", "",unread[i]))
    unread_col.append(new)

In [57]:
unread_col

[4, 19, 5, 10, 9, 19, 13, 17, 2, 18, 2, 13, 7, 13, 12, 7, 19, 5, 16]

In [58]:
df['unread_messages'] = unread_col

In [59]:
df

          0               name   fav_fruit  unread_messages
0   2097.02       Hebert Estes  strawberry                4
1   3654.02       Allison Wynn       apple               19
2   1536.02       Jacobs Floyd       apple                5
3   3919.64        Fay Hammond      banana               10
4   3681.39      Chasity Marsh       apple                9
5   1694.42     Camacho Cortez       apple               19
6   1214.10        Avery Flynn      banana               13
7   2930.31       Michael Cash  strawberry               17
8   1944.15     Madeleine Bray  strawberry                2
9   2839.22      Corine French      banana               18
10  2467.31     Trudy Cummings  strawberry                2
11  3304.99        Peggy Mayer  strawberry               13
12  3844.42        Chan Hurley       apple                7
13  3594.99          Diaz Pena  strawberry               13
14  2940.24    Heath Castaneda  strawberry               12
15  3062.41  Greer Blankenship      banana                7
16  3067.82       Coffey Hayes  strawberry               19
17  2646.76       Leanne Hurst       apple                5
18  2227.79       Ewing Larson  strawberry               16

In [60]:
df['unread_messages'].sum()

210