In [45]:
import numpy as np

In [46]:
%autosave 0

Autosave disabled

## Conditionals

### Is the input valid? Is it Monday?

In [15]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday',
       'Mon','Tue','Tues','Wed','Thu','Thur','Thurs','Fri','Sat','Sun',
       'M','T','W','Th','F','Sa','Su']
mon = ['Monday','Mon','M']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Mon','Tue','Tues','Wed','Thu','Thur','Thurs','Fri',
           'M','T','W','Th','F']
weekends = ['Saturday','Sunday','Sat','Sun','Sa','Su']

In [6]:
day_of_wk = input('What day of the week do you select? ')

What day of the week do you select? Tues

In [7]:
day_of_wk

'Tues'

In [9]:
if day_of_wk in days:
    print(day_of_wk)
else:
    print(f'{day_of_wk} is not a valid option.')
    day_of_wk = input('What day of the week do you select? ')

Tues

In [12]:
if day_of_wk in mon:
    print('Yes, it is Monday!')
else:
    print('Boo, it is not Monday!')

Boo, it is not Monday!

### Is the input valid? Is the day a Weekday or a Weekend?

In [13]:
day_of_wk = input('What day of the week do you select? ')

What day of the week do you select? Tues

In [14]:
if day_of_wk in days:
    print(day_of_wk)
else:
    print(f'{day_of_wk} is not a valid option.')
    day_of_wk = input('What day of the week do you select? ')

Tues

In [17]:
if day_of_wk in weekdays:
    print('Ok, cool, it is a WEEKDAY!')
else:
    print('Yes, it is THE WEEKEND!!!!!!')

Ok, cool, it is a WEEKDAY!

### Calculate a weekly paycheck based upon numbers of hours worked, hourly rate, and overtime rate.

##### Define and print Normal and Overtime pay rates:

In [33]:
hourly_rate = float(input('Please enter your Hourly Rate as ($$.cc): '))
overtime_rate = hourly_rate * 1.5
print(f'Hourly Rate: {hourly_rate:.2f}\nOvertime Rate: {overtime_rate:.2f}')

Please enter your Hourly Rate as ($$.cc): 12
Hourly Rate: 12.00
Overtime Rate: 18.00

##### Establish the number of hours worked this week and if this total requires Overtime pay rates:

In [35]:
hrs_worked = float(input('Please enter the total nuber of hours worked this week: '))
if hrs_worked > 40:
    overtime_hrs = round(hrs_worked - 40,1)
    no_overtime_hrs = round(hrs_worked - overtime_hrs,1)
    print(f'Overtime Hours (in addition to normal hours): {overtime_hrs}')
else:
    no_overtime_hrs = round(hrs_worked,1)
    overtime_rate = 0
    print(f'Normal Hours (no overtime): {no_overtime_hrs}')

Please enter the total nuber of hours worked this week: 64.2
Overtime Hours (in addition to normal hours): 24.2

##### Calculate Normal and Overtime totals and add them together for Total Pay:

In [36]:
total_pay = (no_overtime_hrs * hourly_rate) + (overtime_hrs * overtime_rate)
print(f'Normal Pay: {no_overtime_hrs * hourly_rate:.2f}')
print(f'Overtime Pay: {overtime_hrs * overtime_rate:.2f}')
print(f'Total Pay: {total_pay:.2f}')

Normal Pay: 480.00
Overtime Pay: 435.60
Total Pay: 915.60

### All code in one cell:

In [38]:
# Define pay rates:
hourly_rate = float(input('Please enter your Hourly Rate as ($$.cc): '))
overtime_rate = hourly_rate * 1.5
print(f'Hourly Rate: {hourly_rate:.2f}\nOvertime Rate: {overtime_rate:.2f}\n')

# Define number of Normal and OT hours worked:
hrs_worked = float(input('Please enter the total nuber of hours worked this week: '))
if hrs_worked > 40:
    overtime_hrs = round(hrs_worked - 40,1)
    no_overtime_hrs = round(hrs_worked - overtime_hrs,1)
    print(f'Overtime Hours (in addition to normal hours): {overtime_hrs}')
else:
    no_overtime_hrs = round(hrs_worked,1)
    overtime_rate = 0
    print(f'Normal Hours (no overtime): {no_overtime_hrs}')

# Calculate Total Pay:
total_pay = (no_overtime_hrs * hourly_rate) + (overtime_hrs * overtime_rate)
print(f'Normal Pay: {no_overtime_hrs * hourly_rate:.2f}')
print(f'Overtime Pay: {overtime_hrs * overtime_rate:.2f}')
print(f'Total Pay: {total_pay:.2f}')

Please enter your Hourly Rate as ($$.cc): 12
Hourly Rate: 12.00
Overtime Rate: 18.00

Please enter the total nuber of hours worked this week: 17.0
Normal Hours (no overtime): 17.0
Normal Pay: 204.00
Overtime Pay: 0.00
Total Pay: 204.00

### While loop that prints value while x <= 15...begin at x = 5

In [39]:
x = 5
while x <= 15:
    print(x)
    x += 1

5
6
7
8
9
10
11
12
13
14
15

### While loop that counts by 2's from 0 to 100

In [40]:
x = 0
while x <= 100:
    if x % 2 == 0:
        print(x)
    x += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### While loop that begins with 2 and prints the square of the previous number.  Do not print any number over 1M.

In [42]:
x = 2
while x <= 1000000:
    print(x)
    x *= x

2
4
16
256
65536

### While loop that begins with 100 and subtracts 5 the previous number.  Do not print any number below 0.

In [43]:
x = 100
while x >= 0:
    print(x)
    x -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0

### Prompt the user for an integer and display multiplication table for the input.

In [114]:
user_input = input(f'Please enter an integer bewteen 1 and 10: ')

Please enter an integer bewteen 1 and 10: re

In [99]:
user_input

'er'

In [100]:
type(user_input)

str

In [101]:
user_input.isnumeric()

False

In [115]:
while user_input:
    if (user_input.isnumeric() == True) and (int(user_input) in range(1,11)):
        print(f'Yes, {user_input} is an integer between 1 and 10!\n\n\
        {user_input} x 1 = {int(user_input)*1}\n\
        {user_input} x 2 = {int(user_input)*2}\n\
        {user_input} x 3 = {int(user_input)*3}\n\
        {user_input} x 4 = {int(user_input)*4}\n\
        {user_input} x 5 = {int(user_input)*5}\n\
        {user_input} x 6 = {int(user_input)*6}\n\
        {user_input} x 7 = {int(user_input)*7}\n\
        {user_input} x 8 = {int(user_input)*8}\n\
        {user_input} x 9 = {int(user_input)*9}\n\
        {user_input} x 10 = {int(user_input)*10}')
        break
    else:
        user_input = input(f'Please enter an integer bewteen 1 and 10: ')

Please enter an integer bewteen 1 and 10: yy
Please enter an integer bewteen 1 and 10: 5
Yes, 5 is an integer between 1 and 10!

        5 x 1 = 5
        5 x 2 = 10
        5 x 3 = 15
        5 x 4 = 20
        5 x 5 = 25
        5 x 6 = 30
        5 x 7 = 35
        5 x 8 = 40
        5 x 9 = 45
        5 x 10 = 50

### print each integer from 1-9 a number of interations = its value i.e. 1 22 333 4444

In [117]:
for number in range(1,10):
    print(f'{str(number) * number}')

1
22
333
4444
55555
666666
7777777
88888888
999999999

### prompt user for positive integer, then count down from input value to 1

In [124]:
user_input = input(f'Please enter a POSITIVE integer less than 100: ')

Please enter a POSITIVE integer less than 100: 99

In [125]:
while int(user_input) >= 1:
    if (str(user_input).isnumeric() == True) and (int(user_input) in range(1,101)):
        print(user_input)
        user_input = int(user_input) - 1
    else:
        break

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [126]:
user_input

0