In [6]:
import numpy as np
from tabulate import tabulate

In [1]:
%autosave 0

Autosave disabled

## Conditionals

### Is the input valid? Is it Monday?

In [3]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday',
       'Mon','Tue','Tues','Wed','Thu','Thur','Thurs','Fri','Sat','Sun',
       'M','T','W','Th','F','Sa','Su']
mon = ['Monday','Mon','M']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Mon','Tue','Tues','Wed','Thu','Thur','Thurs','Fri',
           'M','T','W','Th','F']
weekends = ['Saturday','Sunday','Sat','Sun','Sa','Su']

In [4]:
day_of_wk = input('What day of the week do you select? ')

What day of the week do you select? Mon

In [5]:
day_of_wk

'Mon'

In [6]:
if day_of_wk in days:
    print(day_of_wk)
else:
    print(f'{day_of_wk} is not a valid option.')
    day_of_wk = input('What day of the week do you select? ')

Mon

In [7]:
if day_of_wk in mon:
    print('Yes, it is Monday!')
else:
    print('Boo, it is not Monday!')

Yes, it is Monday!

### Is the input valid? Is the day a Weekday or a Weekend?

In [8]:
day_of_wk = input('What day of the week do you select? ')

What day of the week do you select? Sunday

In [9]:
if day_of_wk in days:
    print(day_of_wk)
else:
    print(f'{day_of_wk} is not a valid option.')
    day_of_wk = input('What day of the week do you select? ')

Sunday

In [10]:
if day_of_wk in weekdays:
    print('Ok, cool, it is a WEEKDAY!')
else:
    print('Yes, it is THE WEEKEND!!!!!!')

Yes, it is THE WEEKEND!!!!!!

### Calculate a weekly paycheck based upon numbers of hours worked, hourly rate, and overtime rate.

##### Define and print Normal and Overtime pay rates:

In [11]:
hourly_rate = float(input('Please enter your Hourly Rate as ($$.cc): '))
overtime_rate = hourly_rate * 1.5
print(f'Hourly Rate: {hourly_rate:.2f}\nOvertime Rate: {overtime_rate:.2f}')

Please enter your Hourly Rate as ($$.cc): 13.50
Hourly Rate: 13.50
Overtime Rate: 20.25

##### Establish the number of hours worked this week and if this total requires Overtime pay rates:

In [12]:
hrs_worked = float(input('Please enter the total nuber of hours worked this week: '))
if hrs_worked > 40:
    overtime_hrs = round(hrs_worked - 40,1)
    no_overtime_hrs = round(hrs_worked - overtime_hrs,1)
    print(f'Overtime Hours (in addition to normal hours): {overtime_hrs}')
else:
    no_overtime_hrs = round(hrs_worked,1)
    overtime_rate = 0
    print(f'Normal Hours (no overtime): {no_overtime_hrs}')

Please enter the total nuber of hours worked this week: 43.1
Overtime Hours (in addition to normal hours): 3.1

##### Calculate Normal and Overtime totals and add them together for Total Pay:

In [13]:
total_pay = (no_overtime_hrs * hourly_rate) + (overtime_hrs * overtime_rate)
print(f'Normal Pay: {no_overtime_hrs * hourly_rate:.2f}')
print(f'Overtime Pay: {overtime_hrs * overtime_rate:.2f}')
print(f'Total Pay: {total_pay:.2f}')

Normal Pay: 540.00
Overtime Pay: 62.77
Total Pay: 602.77

### All code in one cell:

In [14]:
# Define pay rates:
hourly_rate = float(input('Please enter your Hourly Rate as ($$.cc): '))
overtime_rate = hourly_rate * 1.5
print(f'Hourly Rate: {hourly_rate:.2f}\nOvertime Rate: {overtime_rate:.2f}\n')

# Define number of Normal and OT hours worked:
hrs_worked = float(input('Please enter the total nuber of hours worked this week: '))
if hrs_worked > 40:
    overtime_hrs = round(hrs_worked - 40,1)
    no_overtime_hrs = round(hrs_worked - overtime_hrs,1)
    print(f'Overtime Hours (in addition to normal hours): {overtime_hrs}')
else:
    no_overtime_hrs = round(hrs_worked,1)
    overtime_rate = 0
    print(f'Normal Hours (no overtime): {no_overtime_hrs}')

# Calculate Total Pay:
total_pay = (no_overtime_hrs * hourly_rate) + (overtime_hrs * overtime_rate)
print(f'Normal Pay: {no_overtime_hrs * hourly_rate:.2f}')
print(f'Overtime Pay: {overtime_hrs * overtime_rate:.2f}')
print(f'Total Pay: {total_pay:.2f}')

Please enter your Hourly Rate as ($$.cc): 12.50
Hourly Rate: 12.50
Overtime Rate: 18.75

Please enter the total nuber of hours worked this week: 21.0
Normal Hours (no overtime): 21.0
Normal Pay: 262.50
Overtime Pay: 0.00
Total Pay: 262.50

### While loop that prints value while x <= 15...begin at x = 5

In [15]:
x = 5
while x <= 15:
    print(x)
    x += 1

5
6
7
8
9
10
11
12
13
14
15

### While loop that counts by 2's from 0 to 100

In [16]:
x = 0
while x <= 100:
    if x % 2 == 0:
        print(x)
    x += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### While loop that begins with 2 and prints the square of the previous number.  Do not print any number over 1M.

In [17]:
x = 2
while x <= 1000000:
    print(x)
    x *= x

2
4
16
256
65536

### While loop that begins with 100 and subtracts 5 the previous number.  Do not print any number below 0.

In [18]:
x = 100
while x >= 0:
    print(x)
    x -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0

### Prompt the user for an integer and display multiplication table for the input.

In [19]:
user_input = input(f'Please enter an integer bewteen 1 and 10: ')

Please enter an integer bewteen 1 and 10: 3

In [20]:
user_input

'3'

In [21]:
type(user_input)

str

In [22]:
user_input.isnumeric()

True

In [23]:
while user_input:
    if (user_input.isnumeric() == True) and (int(user_input) in range(1,11)):
        print(f'Yes, {user_input} is an integer between 1 and 10!\n\n\
        {user_input} x 1 = {int(user_input)*1}\n\
        {user_input} x 2 = {int(user_input)*2}\n\
        {user_input} x 3 = {int(user_input)*3}\n\
        {user_input} x 4 = {int(user_input)*4}\n\
        {user_input} x 5 = {int(user_input)*5}\n\
        {user_input} x 6 = {int(user_input)*6}\n\
        {user_input} x 7 = {int(user_input)*7}\n\
        {user_input} x 8 = {int(user_input)*8}\n\
        {user_input} x 9 = {int(user_input)*9}\n\
        {user_input} x 10 = {int(user_input)*10}')
        break
    else:
        user_input = input(f'Please enter an integer bewteen 1 and 10: ')

Yes, 3 is an integer between 1 and 10!

        3 x 1 = 3
        3 x 2 = 6
        3 x 3 = 9
        3 x 4 = 12
        3 x 5 = 15
        3 x 6 = 18
        3 x 7 = 21
        3 x 8 = 24
        3 x 9 = 27
        3 x 10 = 30

### print each integer from 1-9 a number of interations = its value i.e. 1 22 333 4444

In [24]:
for number in range(1,10):
    print(f'{str(number) * number}')

1
22
333
4444
55555
666666
7777777
88888888
999999999

### prompt user for positive integer, then count down from input value to 1

In [25]:
user_input = input(f'Please enter a POSITIVE integer less than 100: ')

Please enter a POSITIVE integer less than 100: 75

In [26]:
while user_input:
    if (str(user_input).isnumeric() == True) and (int(user_input) in range(1,101)):
        print(user_input)
        user_input = int(user_input) - 1
    else:
        user_input = input(f'Please enter a POSITIVE integer less than 100: ')

75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
user_input

0

### prompt user for positive integer, then count from 0 to the input value.

In [28]:
user_input = input(f'Please enter a POSITIVE integer less than 100: ')

Please enter a POSITIVE integer less than 100: 79

In [29]:
while user_input:
    if (str(user_input).isnumeric() == True) and (int(user_input) in range(1,101)):
        print(user_input)
        user_input = int(user_input) + 1
    else:
        break

79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### prompt user for odd integer between 1 and 50.  Output all odd numbers between 1 and 50, except the input.

In [30]:
user_input = input(f'Please enter a POSITIVE ODD integer between 1 and 50: ')

Please enter a POSITIVE ODD integer between 1 and 50: 33

In [31]:
odd_count = 1
while user_input:
    if (user_input.isnumeric() == True) and (int(user_input) in range(1,50)) and (int(user_input) % 2 == 1):
        print(f'\nYes, {user_input} is an ODD integer between 1 and 50!\n\nNumber to skip is: {user_input}')
        while user_input:
            if odd_count <= 49 and (int(user_input) == odd_count):
                print(f'Yikes! SKIPPING NUMBER: {user_input}')
                odd_count += 2
            elif odd_count <= 49 and (int(user_input) != odd_count):
                print(f'Here is an ODD number: {odd_count}')
                odd_count += 2
            else:
                break
        break
    else:
        user_input = input(f'Please enter a POSITIVE ODD integer between 1 and 50: ')

Yes, 33 is an ODD integer between 1 and 50!

Number to skip is: 33
Here is an ODD number: 1
Here is an ODD number: 3
Here is an ODD number: 5
Here is an ODD number: 7
Here is an ODD number: 9
Here is an ODD number: 11
Here is an ODD number: 13
Here is an ODD number: 15
Here is an ODD number: 17
Here is an ODD number: 19
Here is an ODD number: 21
Here is an ODD number: 23
Here is an ODD number: 25
Here is an ODD number: 27
Here is an ODD number: 29
Here is an ODD number: 31
Yikes! SKIPPING NUMBER: 33
Here is an ODD number: 35
Here is an ODD number: 37
Here is an ODD number: 39
Here is an ODD number: 41
Here is an ODD number: 43
Here is an ODD number: 45
Here is an ODD number: 47
Here is an ODD number: 49

In [32]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### FIZZBUZZ!!!
    1. Print numbers from 1 to 100
    2. Numbers which are multiples of 3, replace with "FIZZ"
    3. Numbers which are multiples of 5, replace with "BUZZ"
    4. Numbers which are multiples of both 3 and 5, replace with "FIZZBUZZ!!!"

In [33]:
# STEP 1: 
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
# STEP 2:
for i in range(1,101):
    if i % 3 == 0:
        print('FIZZ')
    else:
        print(i)

1
2
FIZZ
4
5
FIZZ
7
8
FIZZ
10
11
FIZZ
13
14
FIZZ
16
17
FIZZ
19
20
FIZZ
22
23
FIZZ
25
26
FIZZ
28
29
FIZZ
31
32
FIZZ
34
35
FIZZ
37
38
FIZZ
40
41
FIZZ
43
44
FIZZ
46
47
FIZZ
49
50
FIZZ
52
53
FIZZ
55
56
FIZZ
58
59
FIZZ
61
62
FIZZ
64
65
FIZZ
67
68
FIZZ
70
71
FIZZ
73
74
FIZZ
76
77
FIZZ
79
80
FIZZ
82
83
FIZZ
85
86
FIZZ
88
89
FIZZ
91
92
FIZZ
94
95
FIZZ
97
98
FIZZ
100

In [35]:
# STEP 3:
for i in range(1,101):
    if i % 3 == 0:
        print('FIZZ')
    elif i % 5 == 0:
        print('BUZZ')
    else:
        print(i)

1
2
FIZZ
4
BUZZ
FIZZ
7
8
FIZZ
BUZZ
11
FIZZ
13
14
FIZZ
16
17
FIZZ
19
BUZZ
FIZZ
22
23
FIZZ
BUZZ
26
FIZZ
28
29
FIZZ
31
32
FIZZ
34
BUZZ
FIZZ
37
38
FIZZ
BUZZ
41
FIZZ
43
44
FIZZ
46
47
FIZZ
49
BUZZ
FIZZ
52
53
FIZZ
BUZZ
56
FIZZ
58
59
FIZZ
61
62
FIZZ
64
BUZZ
FIZZ
67
68
FIZZ
BUZZ
71
FIZZ
73
74
FIZZ
76
77
FIZZ
79
BUZZ
FIZZ
82
83
FIZZ
BUZZ
86
FIZZ
88
89
FIZZ
91
92
FIZZ
94
BUZZ
FIZZ
97
98
FIZZ
BUZZ

In [36]:
# STEP 4:
for i in range(1,101):
    if (i % 3 == 0) and (i % 5 == 0):
        print('FIZZBUZZ!!!')
    elif i % 3 == 0:
        print('FIZZ')
    elif i % 5 == 0:
        print('BUZZ')        
    else:
        print(i)

1
2
FIZZ
4
BUZZ
FIZZ
7
8
FIZZ
BUZZ
11
FIZZ
13
14
FIZZBUZZ!!!
16
17
FIZZ
19
BUZZ
FIZZ
22
23
FIZZ
BUZZ
26
FIZZ
28
29
FIZZBUZZ!!!
31
32
FIZZ
34
BUZZ
FIZZ
37
38
FIZZ
BUZZ
41
FIZZ
43
44
FIZZBUZZ!!!
46
47
FIZZ
49
BUZZ
FIZZ
52
53
FIZZ
BUZZ
56
FIZZ
58
59
FIZZBUZZ!!!
61
62
FIZZ
64
BUZZ
FIZZ
67
68
FIZZ
BUZZ
71
FIZZ
73
74
FIZZBUZZ!!!
76
77
FIZZ
79
BUZZ
FIZZ
82
83
FIZZ
BUZZ
86
FIZZ
88
89
FIZZBUZZ!!!
91
92
FIZZ
94
BUZZ
FIZZ
97
98
FIZZ
BUZZ

### Table of Powers:
    1. Prompt user to enter an integer
    2. Display table of Squares and Cubes from 1 to the value entered
    3. Ask user to continue
    4. Only continue if user chooses to do so

In [47]:
user_input = input(f'Please enter a POSITIVE integer less than 10: ')

Please enter a POSITIVE integer less than 10: 5

In [74]:
again = 'y'
user_input = input(f'Please enter a POSITIVE integer less than 10: ')

while user_input and (again == 'y'):
    if (user_input.isnumeric() == True) and (int(user_input) in range(1,10)):
        num = int(user_input)
        print('Yes, here is your table:\n')
        print('x    x2     x3')
        for i in range(1,num+1):
            print(f'{i}    {i**2}      {i**3}')
        again = input(f'\nAgain? (y/n) ')
        if again != 'y':
            break
        user_input = input(f'Please enter a POSITIVE integer less than 10: ')
    else:
        user_input = input(f'Please enter a POSITIVE integer less than 10: ')

Please enter a POSITIVE integer less than 10: 444
Please enter a POSITIVE integer less than 10: 4
Yes, here is your table:

x    x2     x3
1    1      1
2    4      8
3    9      27
4    16      64

Again? (y/n) y
Please enter a POSITIVE integer less than 10: 6
Yes, here is your table:

x    x2     x3
1    1      1
2    4      8
3    9      27
4    16      64
5    25      125
6    36      216

Again? (y/n) t

### Convert a number grade into a letter grade:
    1. Prompt the user for a Grade from 0 to 100: assume user will enter valid integers
    2. Display the corresponding Letter Grade
    3. Ask user to continue
    4. Only continue if user chooses to do so
    
#### Grade Ranges:
    - A: 100-88
    - B: 87-80
    - C: 79-67
    - D: 66-60
    - F: 59-0

In [3]:
again = 'y'
user_input = int(input(f'Please enter a Number Grade from 0 to 100: '))

while (again == 'y'):
    if user_input in range(88,101):
        print('--->  A')
    elif user_input in range(80,88):
        print('--->  B')
    elif user_input in range(67,80):
        print('--->  C')
    elif user_input in range(60,67):
        print('--->  D')
    else:
        print('--->  F')
    again = input(f'\nAgain? (y/n) ')
    if again != 'y':
        break
    user_input = int(input(f'Please enter a Number Grade from 0 to 100: '))

Please enter a Number Grade from 0 to 100: 78
--->  C

Again? (y/n) y
Please enter a Number Grade from 0 to 100: 89
--->  A

Again? (y/n) n

### Table of Powers:
    1. Prompt user to enter an integer
    2. Display table of Squares and Cubes from 1 to the value entered
    3. Ask user to continue
    4. Only continue if user chooses to do so
  
## With a grid-like format

In [47]:
user_input = input(f'Please enter a POSITIVE integer less than 10: ')

Please enter a POSITIVE integer less than 10: 5

In [7]:
again = 'y'
user_input = input(f'Please enter a POSITIVE integer less than 10: ')

while user_input and (again == 'y'):
    if (user_input.isnumeric() == True) and (int(user_input) in range(1,10)):
        num = int(user_input)
        print('Yes, here is your table:\n')
        col_names = ['x','x^2','x^3']
        data = []
        for i in range(1,num+1):
            row =(i,i**2,i**3)
            data.append(row)
        print(tabulate(data,headers=col_names))
        again = input(f'\nAgain? (y/n) ')
        if again != 'y':
            break
        user_input = input(f'Please enter a POSITIVE integer less than 10: ')
    else:
        user_input = input(f'Please enter a POSITIVE integer less than 10: ')

Please enter a POSITIVE integer less than 10: 4
Yes, here is your table:

  x    x^2    x^3
---  -----  -----
  1      1      1
  2      4      8
  3      9     27
  4     16     64

Again? (y/n) y
Please enter a POSITIVE integer less than 10: 7
Yes, here is your table:

  x    x^2    x^3
---  -----  -----
  1      1      1
  2      4      8
  3      9     27
  4     16     64
  5     25    125
  6     36    216
  7     49    343

Again? (y/n) y
Please enter a POSITIVE integer less than 10: 9
Yes, here is your table:

  x    x^2    x^3
---  -----  -----
  1      1      1
  2      4      8
  3      9     27
  4     16     64
  5     25    125
  6     36    216
  7     49    343
  8     64    512
  9     81    729

Again? (y/n) y
Please enter a POSITIVE integer less than 10: 11
Please enter a POSITIVE integer less than 10: er
Please enter a POSITIVE integer less than 10: 33
Please enter a POSITIVE integer less than 10: 3
Yes, here is your table:

  x    x^2    x^3
---  -----  -----
  1      1      1
  2      4      8
  3      9     27

Again? (y/n) m

In [4]:
data = []
num = 4
for i in range(1,num+1):
    row =(i,i**2,i**3)
    data.append(row)

In [5]:
data

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

### Convert a number grade into a letter grade:
    1. Prompt the user for a Grade from 0 to 100: assume user will enter valid integers
    2. Display the corresponding Letter Grade
    3. Ask user to continue
    4. Only continue if user chooses to do so
    
#### ADDITIONAL Grade Ranges:
    - A+: 100-96
    - A: 95-90
    - B+: 89-86
    - B: 85-80
    - C+:79-76
    - C: 75-70
    - D: 69-60
    - F: 59-0

In [8]:
again = 'y'
user_input = int(input(f'Please enter a Number Grade from 0 to 100: '))

while (again == 'y'):
    if user_input in range(96,101):
        print('--->  A+')
    elif user_input in range(90,96):
        print('--->  A')
    elif user_input in range(86,90):
        print('--->  B+')
    elif user_input in range(80,86):
        print('--->  B')
    elif user_input in range(76,80):
        print('--->  C+')
    elif user_input in range(70,76):
        print('--->  C')
    elif user_input in range(60,70):
        print('--->  D')
    else:
        print('--->  F')
    again = input(f'\nAgain? (y/n) ')
    if again != 'y':
        break
    user_input = int(input(f'Please enter a Number Grade from 0 to 100: '))

Please enter a Number Grade from 0 to 100: 45
--->  F

Again? (y/n) y
Please enter a Number Grade from 0 to 100: 78
--->  C+

Again? (y/n) y
Please enter a Number Grade from 0 to 100: 99
--->  A+

Again? (y/n) y
Please enter a Number Grade from 0 to 100: 86
--->  B+

Again? (y/n) n