In [1]:
import numpy as np
from tabulate import tabulate
import re

In [2]:
%autosave 0

Autosave disabled

#### Define a function called "is_two", which will return a boolean if the argument is the integer or string literal 2.

In [3]:
def is_two(n):
    # check if the argument is a single character 2 (integer or string literal)
    if (n == 2) or (str(n) == '2'):
        return True
    else:
        return False

In [4]:
is_two('10fff')

False

In [5]:
is_two('2')

True

In [6]:
is_two(2)

True

#### Define a function called "is_vowel", which will return a boolean if the argument is a SINGLE string literal VOWEL.

In [7]:
def is_vowel(x):
    # check to see is the lowercase version is in the list of vowels
    if (str(x).lower() in ['a','e','i','o','u']):
        return True
    else:
        return False

In [8]:
is_vowel('a')

True

In [9]:
is_vowel('aa'),is_vowel('ssss'),is_vowel('r'),is_vowel('E')

(False, False, False, True)

#### Define a function called "is_consonant", which will return a boolean if the argument is a SINGLE string literal CONSONANT.

In [10]:
def is_consonant(x):
    # check to see is the lowercase version is in the list of consonants
    if (str(x).lower() in ['b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z']):
        return True
    else:
        return False

In [11]:
is_consonant('q'),is_consonant('AA'),is_consonant('A'),is_consonant('ssss'),is_consonant('l')

(True, False, False, False, True)

#### Define a function that accepts a text string that is a word.  Capitalize the first Letter IF word begins with Consonant.

In [12]:
def cap_if_consonant(text):
    '''
    Input: a text string
    Output: Capitalized version of string IF string begins with Consonant, otherwise it will just return the string
    ex: 'sample' --> 'Sample'
    '''
    # check to see if the string object begins with a consonant and, if so, CAPITALIZE the first character
    if is_consonant(text[0]):
        return text.capitalize()
    # otherwise, just return the string
    else:
        return text

In [13]:
cap_if_consonant('sample'),cap_if_consonant('esample'),cap_if_consonant('aasample'),cap_if_consonant('2sample')

('Sample', 'esample', 'aasample', '2sample')

#### Define a function named 'calculate_tip'. Inputs: tip %, total bill Output: Tip Amount

In [14]:
def calc_tip(total_bill,tip_pct):
    '''
    Inputs: total_bill: bill amount
            tip_pct: percentage of total bill for tip, expressed as a decimal between 0 and 1
    Output: Tip amount based upon percentage
    '''
    # multiply the total bill by the desired tip pct, round the result to two decimals, and force 
    # format two decimals
    print(f'$ {round(total_bill * tip_pct,2):.2f}')
    tip_amount = round(total_bill * tip_pct,2)
    return tip_amount

In [15]:
calc_tip(34,0.3),calc_tip(21.56,0.05),calc_tip(18.5,0.35),calc_tip(12,0.15),calc_tip(81.20,0.21)

$ 10.20
$ 1.08
$ 6.47
$ 1.80
$ 17.05

(10.2, 1.08, 6.47, 1.8, 17.05)

In [16]:
calc_tip(81.20,0.21)

$ 17.05

17.05

#### Define a function named 'apply_disc'. Inputs: disc %, original_price Output: discounted_price

In [17]:
def apply_disc(org_price,disc_pct):
    '''
    Inputs: org_price: Original Price before discount is applied
            disc_pct: percentage of discount, expressed as a decimal between 0 and 1
    Output: Price after discount is applied
    '''
    print(f'$ {round(org_price - (org_price * disc_pct),2):.2f}')
    discounted_price = round(org_price - (org_price * disc_pct),2)
    return discounted_price

In [18]:
apply_disc(23.99,0.05),apply_disc(23.99,0.10),apply_disc(25.29,0.35),apply_disc(120,0.95)

$ 22.79
$ 21.59
$ 16.44
$ 6.00

(22.79, 21.59, 16.44, 6.0)

#### Define a function named 'handle_commas'. Inputs: a numerical string with or without commas Output: integer

In [19]:
a = '100,000,000'
b = '100000000'

In [20]:
a.isnumeric(),b.isnumeric()

(False, True)

In [21]:
re.sub('[\,,\.]','',a)

'100000000'

In [22]:
a

'100,000,000'

In [23]:
b == re.sub('[\,,\.]','',a)

True

In [24]:
list(a)

['1', '0', '0', ',', '0', '0', '0', ',', '0', '0', '0']

In [25]:
def handle_commas(num_string):
    # check that the string contains , or .  if so, replace them with nothingness and return the integer form
    if ',' in list(num_string):
        num = int(re.sub('[\,,\.]','',num_string))
        return num
    # otherwise, just return the integer form of the numerical string
    else:
        num = int(num_string)
        return num

In [26]:
handle_commas('1,000'),handle_commas('1,000,001'),handle_commas('12000'),handle_commas('122,000,555')

(1000, 1000001, 12000, 122000555)

#### Define a function named 'get_letter_grade'. Inputs: a number Output: a letter grade

In [27]:
def get_letter_grade(number_grade):
    if number_grade in range(88,101):
        print('--->  A')
        return 'A'
    elif number_grade in range(80,88):
        print('--->  B')
        return 'B'
    elif number_grade in range(67,80):
        print('--->  C')
        return 'C'
    elif number_grade in range(60,67):
        print('--->  D')
        return 'D'
    else:
        print('--->  F')
        return 'F'

In [28]:
get_letter_grade(98),get_letter_grade(78),get_letter_grade(68),get_letter_grade(91),

--->  A
--->  C
--->  C
--->  A

('A', 'C', 'C', 'A')

#### Define a function named 'remove_vowels'. Inputs: a text string object Output: a text string with vowels removed

In [30]:
a = 'twotwotwoaeiou'

In [31]:
re.sub('[a,e,i,o,u]','',a)

'twtwtw'

In [32]:
a

'twotwotwoaeiou'

In [33]:
list(a)

['t', 'w', 'o', 't', 'w', 'o', 't', 'w', 'o', 'a', 'e', 'i', 'o', 'u']

In [34]:
def remove_vowels(txt_string):
    '''
    Takes in a string object and removes all vowels (lower and upper case).
    Returns the remaining characters.
    '''
    clean_string = re.sub('[a,e,i,o,u]','',txt_string)
    return clean_string

In [35]:
remove_vowels('popoeoend'),remove_vowels('piiiiizza'),remove_vowels('paaaastaa'),remove_vowels('gaarliccii'),

('ppnd', 'pzz', 'pst', 'grlcc')

#### Define a function named 'normalize_name'. Inputs: a tet string Output: a normalized python variable identifier

In [ ]:
'''
Takes in a text string and converts to an appropriate variable identifier.  Removes all non-alpha-numeric
characters.  Converts UPPER to lower, removes leading and trailing whitespace, and replaces embedded whitespaces 
with underscores.
'''

In [39]:
a = ' twotwotwoaeio uRTRT2$$$       '

In [47]:
a = a.strip()
a

'twotwotwoaeio uRTRT2$$$'

In [50]:
a = re.sub('[ ]','_',a)
a

'twotwotwoaeio_uRTRT2$$$'

In [52]:
a = re.sub('[^\w,_]','',a)
a

'twotwotwoaeio_uRTRT2'

In [53]:
a = a.lower()
a

'twotwotwoaeio_urtrt2'

In [54]:
a

'twotwotwoaeio_urtrt2'

In [58]:
list(a)

['t',
 'w',
 'o',
 't',
 'w',
 'o',
 't',
 'w',
 'o',
 'a',
 'e',
 'i',
 'o',
 '_',
 'u',
 'r',
 't',
 'r',
 't',
 '2']

In [61]:
def normalize_name(txt_string):
    '''
    Takes in a text string and converts to an appropriate variable identifier.  Removes all non-alpha-numeric
    characters.  Converts UPPER to lower, removes leading and trailing whitespace, and replaces embedded whitespaces 
    with underscores.
    '''
    # strip leading and trailing whitespace
    a = txt_string.strip()
    # replace any single spaces with '_'
    a = re.sub('[ ]','_',a)
    # replace non-word chars an '_' with nothingness (reomve)
    a = re.sub('[^\w,_]','',a)
    # convert to all lowercase
    clean_string = a.lower()
    return clean_string

In [66]:
normalize_name('     pppisozzaRTGN   '),normalize_name('  2 2 2 pppisozza RTGN   '),\
normalize_name('PPpisozzaRTGN 3   '),

('pppisozzartgn', '2_2_2_pppisozza_rtgn', 'pppisozzartgn_3')

#### Define a function named 'cummulative_sum'. Inputs: a list of numbers Output: a list of the cummulative sum of the numbers

In [3]:
a = [1,1,1,1]
b = [1,2,3,4]

In [4]:
new_list = []
sum = 0
for i in a:
    sum += i 
    new_list.append(sum)

In [5]:
new_list

[1, 2, 3, 4]

In [6]:
new_list = []
sum = 0
for i in b:
    sum += i 
    new_list.append(sum)

In [7]:
new_list

[1, 3, 6, 10]

In [12]:
def cummulative_sum(nums):
    '''
    Takes in a list of numbers and outputs a list of cummulative sums for each number in the original list.
    For ex. [1,2,3,4] --> [1,3,6,10]
    '''
    new_list = []
    sum = 0
    for i in nums:
        sum += i
        new_list.append(sum)
    return new_list

In [13]:
cummulative_sum(a)

[1, 2, 3, 4]

In [14]:
cummulative_sum(b)

[1, 3, 6, 10]