In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

In [2]:
# Create list of values for names column.

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [3]:
# Construct the DataFrame using the above lists and arrays.

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

## Creating Dataframes

### From Lists and Dictionaries

There are several ways to create dataframes, we've already seen how we can create a dataframe from a dictionary:

In [4]:
pd.DataFrame({'A': [1,2,3], 'B': [4,5,6]})

   A  B
0  1  4
1  2  5
2  3  6

The keys in the passed dictionary will be the column names, and the values are the data points that make up each column.

We can also create dataframes from a 2d data structure, either a numpy array or a list of lists:

In [5]:
pd.DataFrame([[1,2,3],[4,5,6]])

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
array = np.array([[1, 2, 3], [4, 5, 6]])

pd.DataFrame(array, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

Notice here that we had to specify the names of the columns ourselves.Notice here that we had to specify the names of the columns ourselves.

### From SQL

We can use the `read_sql` method to create a dataframe based on the results of a SQL query. To do this, we need to tell pandas how to connect to the database we are querying. The way we communicate this to pandas is with a specially formatted *connection string*.

In addition, whenever we want to connect to a database from our python code (other programming languages are similar), we will need a **driver**, a bit of software that handles the details of the database connection.

In order to connect to mysql, we'll install the `pymysql` driver packages:

`python -m pip install pymysql`

Once those are installed, we can create the connection string. In general, database connection urls will have this format:

`protocol://[user[:password]@]hostname/[database_name]`

Here's an example of what one would look like:

`mysql+pymysql://codeup:p@assw0rd@123.123.123.123/some_db`

Another thing we need to consider is that we don't want to publish our database credentials to github, however, we will need access to these values in our code in order to create the connection string defined above.

In order to accomplish this, we can define several variables in a file named `env.py` that contain the sensitive data, add `env.py` to our `.gitignore` file, and then import those values into another script.

**Be 100% sure to add `env.py` to this specific repository's `.gitignore` file, even and especially, if you have already added `env.py` to your global .gitignore file. This will protect the env file for people who clone this project (like collaborators)**

`from env import host, user, password`

`url = f'mysql+pymysql://{user}:{password}@{host}/employees'`

Now that the url is defined, we need to define our SQL query.

Once these two elements are defined, we can use them with the `read_sql` function to have pandas treat the results of a SQL query as a dataframe.

`query = 'SELECT * FROM employees LIMIT 5 OFFSET 50'`

`pd.read_sql(query, url)`

|  | emp_no | birth_date | first_name | last_name | gender | hire_date |
| --- | --- | --- | --- | --- | --- | --- |
| 0 | 10051 | 1953-07-28 | Hidefumi | Caine | M | 1992-10-15 |
| 1 | 10052 | 1961-02-26 | Heping | Nitsch | M | 1988-05-21 |
| 2 | 10053 | 1954-09-13 | Sanjiv | Zschoche | F | 1986-02-04 |
| 3 | 10054 | 1957-04-04 | Mayumi | Schueller | M | 1995-03-13 |
| 4 | 10055 | 1956-06-06 | Georgy | Dredge | M | 1992-04-27 |

It is common to have longer SQL queries that we want to read into python, and an example of how we might break a query into several lines is below:

In [7]:
sql = '''
SELECT
    emp_no,
    first_name,
    last_name
FROM employees
WHERE gender = 'F'
LIMIT 100
'''

employees = pd.read_sql(text(sql), engine.connect())
employees.head()

NameError: name 'text' is not defined