In [40]:
import pandas as pd
import numpy as np
import itertools as it
import json
import re
from collections import Counter

In [2]:
%autosave 0
pd.set_option('display.max_columns', None)

Autosave disabled

## Create a pd.Series from a List

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple",
          "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry",
          "gooseberry", "papaya"]

In [4]:
fruits

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [4]:
fruit_series = pd.Series(fruits)

In [6]:
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## Determine the number of elements in FRUITS

In [7]:
fruit_series.count()

17

## Output only the index in FRUIT_SERIES

In [9]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

## Output only the values in FRUIT_SERIES

In [5]:
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

## Confirm the data type in FRUIT_SERIES

In [6]:
fruit_series.dtype

dtype('O')

## Output only first 5 values in FRUIT_SERIES

In [7]:
fruit_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

## Output onlylast 3 values in FRUIT_SERIES

In [8]:
fruit_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

## Output 2 random values in FRUIT_SERIES

In [9]:
fruit_series.sample(2)

2    strawberry
7    watermelon
dtype: object

## Run .describe() method on FRUIT_SERIES

In [10]:
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

## Output only the UNIQUE values in FRUIT_SERIES

In [15]:
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [21]:
fs_unique = pd.Series(fruit_series.unique())
len(fs_unique),fs_unique.count()

(13, 13)

## Count occurance of the UNIQUE values in FRUIT_SERIES

In [22]:
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

## What value occurs most frequently in FRUIT_SERIES?

In [24]:
fruit_series.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

## What value occurs least frequently in FRUIT_SERIES?

In [27]:
fruit_series.value_counts().nsmallest(n=1,keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# PART II

## Capitalize all string values in FRUIT_SERIES

In [28]:
fruit_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [29]:
fruit_series.str.title()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala Apple
5     Honeycrisp Apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

## Count the occurance of letter 'A' in all strings

In [35]:
fruit_series[0].count('a')

0

In [39]:
fruit_series[1].count('a')

1

In [44]:
# counter = Counter(fruit_series[1])

# counter['a']

In [52]:
fruit_series_a_counts = [fruit_series[i].count('a') for i in range(0,len(fruit_series))]

In [60]:
fruit_series_a_counts = np.array(fruit_series_a_counts)

In [61]:
fruit_series_a_counts

array([0, 1, 1, 1, 3, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 3])

In [62]:
fruit_series_a_counts.sum()

14

## Count the occurance of VOWELS in each string

In [65]:
fruit_series_a_counts = np.array([fruit_series[i].count('a') for i in range(0,len(fruit_series))])
fruit_series_e_counts = np.array([fruit_series[i].count('e') for i in range(0,len(fruit_series))])
fruit_series_i_counts = np.array([fruit_series[i].count('i') for i in range(0,len(fruit_series))])
fruit_series_o_counts = np.array([fruit_series[i].count('o') for i in range(0,len(fruit_series))])
fruit_series_u_counts = np.array([fruit_series[i].count('u') for i in range(0,len(fruit_series))])

In [66]:
pd.Series([fruit_series_a_counts[i]+fruit_series_e_counts[i]+fruit_series_i_counts[i]+
           fruit_series_o_counts[i]+fruit_series_u_counts[i] for i in range(0,len(fruit_series))])

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

## Return the longest String Value from FRUITS

In [69]:
len(fruit_series[0])

4

In [71]:
lenths = pd.Series([len(fruit_series[i]) for i in range(0,len(fruit_series))])

In [72]:
lenths

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [85]:
lenths.nlargest(n=1)

5    16
dtype: int64

In [86]:
lenths.nlargest(n=1).index

Int64Index([5], dtype='int64')

In [87]:
fruit_series[lenths.nlargest(n=1).index]

5    honeycrisp apple
dtype: object

## Return the String Values from FRUITS where len >= 5

In [88]:
lenths[lenths >= 5]

1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [89]:
fruit_series[lenths >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## Return the String Values from FRUITS where 'o' occurs 2 or more times

In [91]:
fruit_series_o_counts = pd.Series(fruit_series_o_counts)

In [92]:
fruit_series_o_counts

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

In [93]:
fruit_series[fruit_series_o_counts >= 2]

6         tomato
15    gooseberry
dtype: object