In [1]:
import pandas as pd
import numpy as np
import itertools as it
import json
import re

In [2]:
%autosave 0
pd.set_option('display.max_columns', None)

Autosave disabled

## Create a pd.Series from a List

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple",
          "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry",
          "gooseberry", "papaya"]

In [4]:
fruits

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [4]:
fruit_series = pd.Series(fruits)

In [6]:
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## Determine the number of elements in FRUITS

In [7]:
fruit_series.count()

17

## Output only the index in FRUIT_SERIES

In [9]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

## Output only the values in FRUIT_SERIES

In [5]:
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

## Confirm the data type in FRUIT_SERIES

In [6]:
fruit_series.dtype

dtype('O')

## Output only first 5 values in FRUIT_SERIES

In [7]:
fruit_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

## Output onlylast 3 values in FRUIT_SERIES

In [8]:
fruit_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

## Output 2 random values in FRUIT_SERIES

In [9]:
fruit_series.sample(2)

2    strawberry
7    watermelon
dtype: object

## Run .describe() method on FRUIT_SERIES

In [10]:
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

## Output only the UNIQUE values in FRUIT_SERIES

In [15]:
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [21]:
fs_unique = pd.Series(fruit_series.unique())
len(fs_unique),fs_unique.count()

(13, 13)

## Count occurance of the UNIQUE values in FRUIT_SERIES

In [22]:
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

## What value occurs most frequently in FRUIT_SERIES?

In [24]:
fruit_series.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

## What value occurs least frequently in FRUIT_SERIES?

In [27]:
fruit_series.value_counts().nsmallest(n=1,keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64