In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import itertools as it
import json
import re
import env
from collections import Counter
from pydataset import data

np.random.seed(123)

## Exercises III

### 1. Use your `get_db_url` function to help you explore the data from the `chipotle` database.

In [2]:
df = pd.read_csv('chipotle___orders.csv')

In [3]:
df.drop(columns='id',inplace=True)

In [4]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75

### 2. What is the total price for each order?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
df['item_price'] = df['item_price'].str.replace('$','')

/var/folders/ty/2pnn6wsj06n_glzjgbmxzlkw0000gn/T/ipykernel_84728/3406535628.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$','')

In [7]:
df['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [8]:
df['item_price'] = df['item_price'].apply(pd.to_numeric,errors='ignore')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [10]:
df.groupby('order_id').item_price.sum()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [11]:
order_totals = df.groupby('order_id').item_price.sum()

In [12]:
pd.DataFrame(order_totals)

          item_price
order_id
1              11.56
2              16.98
3              12.67
4              21.00
5              13.70
...              ...
1830           23.00
1831           12.90
1832           13.20
1833           23.50
1834           28.75

[1834 rows x 1 columns]

### 3. What are the most popular 3 items?

In [14]:
item_names = df.groupby('item_name').item_name.count()

In [18]:
df = pd.DataFrame(item_names)

In [23]:
df

                                       item_name
item_name
6 Pack Soft Drink                             54
Barbacoa Bowl                                 66
Barbacoa Burrito                              91
Barbacoa Crispy Tacos                         11
Barbacoa Salad Bowl                           10
Barbacoa Soft Tacos                           25
Bottled Water                                162
Bowl                                           2
Burrito                                        6
Canned Soda                                  104
Canned Soft Drink                            301
Carnitas Bowl                                 68
Carnitas Burrito                              59
Carnitas Crispy Tacos                          7
Carnitas Salad                                 1
Carnitas Salad Bowl                            6
Carnitas Soft Tacos                           40
Chicken Bowl                                 726
Chicken Burrito                              553
Chicken Crispy Tacos                          47
Chicken Salad                                  9
Chicken Salad Bowl                           110
Chicken Soft Tacos                           115
Chips                                        211
Chips and Fresh Tomato Salsa                 110
Chips and Guacamole                          479
Chips and Mild Fresh Tomato Salsa              1
Chips and Roasted Chili Corn Salsa            22
Chips and Roasted Chili-Corn Salsa            18
Chips and Tomatillo Green Chili Salsa         43
Chips and Tomatillo Red Chili Salsa           48
Chips and Tomatillo-Green Chili Salsa         31
Chips and Tomatillo-Red Chili Salsa           20
Crispy Tacos                                   2
Izze                                          20
Nantucket Nectar                              27
Salad                                          2
Side of Chips                                101
Steak Bowl                                   211
Steak Burrito                                368
Steak Crispy Tacos                            35
Steak Salad                                    4
Steak Salad Bowl                              29
Steak Soft Tacos                              55
Veggie Bowl                                   85
Veggie Burrito                                95
Veggie Crispy Tacos                            1
Veggie Salad                                   6
Veggie Salad Bowl                             18
Veggie Soft Tacos                              7

In [22]:
df.columns

Index(['item_name'], dtype='object')

In [24]:
new_cols = ['total']
df.columns = new_cols

In [28]:
df.sort_values(by='total',ascending=False).head(3)

                     total
item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479