In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random
import math

In [2]:
x_series = [i for i in range(1,31)]

## 1: $0n + 1$

In [3]:
[(0 * i) + 1 for i in x_series]

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [4]:
y1_series = [(0 * i) + 1 for i in x_series]

## 2: $\log(n)$

In [5]:
math.log(2.719)

1.0002641656503337

In [6]:
[math.log(i) for i in x_series]

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 2.3978952727983707,
 2.4849066497880004,
 2.5649493574615367,
 2.6390573296152584,
 2.70805020110221,
 2.772588722239781,
 2.833213344056216,
 2.8903717578961645,
 2.9444389791664403,
 2.995732273553991,
 3.044522437723423,
 3.091042453358316,
 3.1354942159291497,
 3.1780538303479458,
 3.2188758248682006,
 3.258096538021482,
 3.295836866004329,
 3.332204510175204,
 3.367295829986474,
 3.4011973816621555]

In [7]:
y2_series = [math.log(i) for i in x_series]

## 3: $n$

In [8]:
[i for i in x_series]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [9]:
y3_series = [i for i in x_series]

## 4: $n \log(n)$

In [10]:
math.log(2.719)

1.0002641656503337

In [11]:
[i * math.log(i) for i in x_series]

[0.0,
 1.3862943611198906,
 3.295836866004329,
 5.545177444479562,
 8.047189562170502,
 10.75055681536833,
 13.621371043387192,
 16.635532333438686,
 19.775021196025975,
 23.02585092994046,
 26.376848000782076,
 29.818879797456006,
 33.34434164699998,
 36.94680261461362,
 40.62075301653315,
 44.3614195558365,
 48.16462684895568,
 52.02669164213096,
 55.94434060416236,
 59.914645471079815,
 63.93497119219188,
 68.00293397388296,
 72.11636696637044,
 76.2732919283507,
 80.47189562170502,
 84.71050998855854,
 88.9875953821169,
 93.30172628490571,
 97.65157906960775,
 102.03592144986466]

In [12]:
y4_series = [i *math.log(i) for i in x_series]

## 5: $n^2$

In [14]:
[i**2 for i in x_series]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [15]:
y5_series = [i**2 for i in x_series]

## 6: $2^n$

In [16]:
math.log(2.719)

1.0002641656503337

In [17]:
[2**i for i in x_series]

[2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288,
 1048576,
 2097152,
 4194304,
 8388608,
 16777216,
 33554432,
 67108864,
 134217728,
 268435456,
 536870912,
 1073741824]

In [18]:
y6_series = [2**i for i in x_series]

## 7: $n!$

In [19]:
[math.factorial(i) for i in x_series]

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000,
 20922789888000,
 355687428096000,
 6402373705728000,
 121645100408832000,
 2432902008176640000,
 51090942171709440000,
 1124000727777607680000,
 25852016738884976640000,
 620448401733239439360000,
 15511210043330985984000000,
 403291461126605635584000000,
 10888869450418352160768000000,
 304888344611713860501504000000,
 8841761993739701954543616000000,
 265252859812191058636308480000000]

In [20]:
y7_series = [math.factorial(i) for i in x_series]

## 8: $n^n$

In [26]:
[i**i for i in x_series]

[1,
 4,
 27,
 256,
 3125,
 46656,
 823543,
 16777216,
 387420489,
 10000000000,
 285311670611,
 8916100448256,
 302875106592253,
 11112006825558016,
 437893890380859375,
 18446744073709551616,
 827240261886336764177,
 39346408075296537575424,
 1978419655660313589123979,
 104857600000000000000000000,
 5842587018385982521381124421,
 341427877364219557396646723584,
 20880467999847912034355032910567,
 1333735776850284124449081472843776,
 88817841970012523233890533447265625,
 6156119580207157310796674288400203776,
 443426488243037769948249630619149892803,
 33145523113253374862572728253364605812736,
 2567686153161211134561828214731016126483469,
 205891132094649000000000000000000000000000000]

In [27]:
y8_series = [i**i for i in x_series]